{% extends 'layout.html.twig' %}


{% block content %}

    <h1>Vehicles disponibles</h1>
    <ul>
        {% for item in items %}
            <!-- <li><a href="/reservation/show/{{ item.id }}">{{ item.brand }}. {{ item.model }}. -->
            <li>
                <img style="max-width: 10%;" src="{{item.image}}"alt="{{item.model}}">
                 {{ item.brand }}
                  {{ item.model }}
                  {{item.price}}
                  {{item.address}}
                <a href="/reservation/validation/{{item.id}}"><button>Add to basket</button></a>
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/home/index">Back</a>

  
{% endblock %}
