{% extends 'layout.html.twig' %}


{% block content %}

<table class="table">
    <h2>Vehicles disponibles in {{session.reservation.agency}}</h2>
    <h2>Category: {{session.reservation.category}}. Price:  {{session.reservation.price}} euros per day.</h2>
<thead style="font-size:18px;">

 
  <th>Brand</th>
  <th>Model</th>
  <th>Color</th>
  <th>Gear box</th>
   <th>Energy</th>
  <th>Description</th>

</thead>
<tbody>
    {% for item in items %}
      <tr>
          <td>{{item.brand}}</td>
          <td> {{item.model}}</td>
          <td>{{item.color}}</td>
          <td>{{item.gear_box}}</td>
          <td>{{item.energy}}</td>
          <td>{{item.description}}</td>
          <td><a href="/reservation/validation/{{ item.id_vehicle }}"><button class="btn-update">Reserve Here</button></a> </td>
         
         
      </tr>
    {% endfor %}
  
</tbody>
</table>

  
{% endblock %}
