{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <h5>Thank's for your purchase, {{session.firstname}} {{session.lastname}} !</h5>
    <img style="max-width: 600px" src="{{item.image}}"alt="{{item.model}}">
     <h5> Your vehicle {{ item.brand }}. {{ item.model }} will be available {{ item.dateStart }} in {{ item.agency }}.</h5>
    <h5>We already sent you invoice with total amount: {{ item.totalAmount }} euros to your mail {{session.email}}.</h5>
</div>
{% endblock %}
