{% extends 'layout.html.twig' %}


{% block content %}
    <img style="max-width: 10%;" src="{{item.image}}"alt="{{item.model}}">
    <h1>Vehicle {{ item.description }}</h1>
    <h2>{{ item.brand }}. {{ item.model }}</h2>
    <h2>{{ item.color }}. {{ item.description }}</h2>
    <h2> Energy: {{ item.energy }}. Gear Box : {{ item.gear_box }}</h2>
  <form action="/user/delete/{{item.id}}" method="POST" onsubmit="return confirm('Want you really delete this user from database ?')">
        <button class="btn-delete">Delete</button>
    </form>
    <a href="/reservation/index">Back</a>
{% endblock %}
