{% extends 'layout.html.twig' %}

{% block content %}
<div class="admin_pages_titre">
<h1>Admin Vehicle list</h1>
</div>
<div class="container">
    
        <table class="tableAdmin">
          
    <thead style="font-size:18px;">

        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Gear box</th>
         <th>Energy</th>
        <th>Description</th>
        <th>
            <a href="/vehicle/add"><button class="btn-add">Add new vehicle</button></a>
        </th>
    </thead>
    <tbody>

       {% for item in items |sort %}

            <tr> 
             
                <td> {{item.id_vehicle}}</td>
                <td> {{item.brand}}</td>
                <td> {{item.model}}</td>
                <td>{{item.color}}</td>
                <td>{{item.gear_box}}</td>
                <td>{{item.energy}}</td>
                <td>{{item.description}}</td>
                <td><a href="/vehicle/show/{{ item.id_vehicle }}"><button class="btn-back">Show more</button></a> </td>
                <td><a href="/vehicle/edit/{{ item.id_vehicle }}"><button class="btn-update">Edit</button></a> </td>
                <td><form action="/vehicle/delete/{{item.id_vehicle}}" method="POST" onsubmit="return confirm('Want you really delete this vehicle from database ?')">
        <button class="btn-delete">Delete</button>
    </form></td>
               
            </tr>
          {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
